<!DOCTYPE html>

<head>

<title>Bill Lookup Widget Generator</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'open_states/style.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>

</head>

<body>

<div id="header"><h1>Bill Lookup Widget Generator</h1></div>

	<div class="container">

		<div class="lookup_container">

		<div id="billLookup_container">

			<form action="" method="post">
			{% csrf_token %}

			<p>
			{{form.sunlightAPIs}}</p>

			<p><label for="bill_number">Bill #:</label>
			{{form.bill_number}}</p>

			<p><label for="state">State:</label>
			{{form.state}}</p>

		<input type="submit" value="submit">
		
		</form>
		</div>

		<div id="widgetList_container">Hello</div>
		</div>

		
		<div id="widgetPreview_container"><h2>Preview</h2>
	</div>
		
	</div>

	<div id="footer"><h4> This website is open source. Visit the code: </h4></div>

<script type="text/javascript" "{% static 'js/script.js' %}"></script>
</body>

</html>