<!DOCTYPE html>

<head>

<title>Bill Lookup Widget Generator</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'open_states/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>

		<div class="lookup_container">
			<div id="widgetPreview_container">
				<div id="widgetPreview">
				
				{% for bill in congress_bills %}
				<div id={{bill.bill_id}}>
				<div class="one_result_holder">
				<p><b>{{bill.bill_id}} ({{bill.congress}}th congress):
				</b>{{bill.short_title}}</p>
				<br><b>Sponsor</b>: {{bill.title}}{{bill.sponsor.first_name}} {{bill.sponsor.last_name}} </br>
				<br><b>Official title</b>:<span id="official_title"></span>
				</div> </br>
				</div>
				{% endfor %}

				{% for bill in state_bills %}
				<div class="one_result_holder">
				<p><b>{{bill.state}} {{bill.bill_id}} ({{bill.session}}th session):
				</b>{{bill.title}}</p>
				</div> </br>
				{% endfor %}

			</div>
			Paste this tag into your web page to insert the frame you see above:

			<div id="iframe_container">iframe src="http://127.0.0.1:8000/open_states/get_widget_list/1/hr5-113/none/" width='300px' height='600'></div>
		</div>
		
	<!-- container close out div -->

	</div>

</div>


</body>

</html>