<!DOCTYPE html>

<head>
<meta charset="utf-8">

<title>Bill Lookup Widget Generator</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'open_states/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>

	<div id="header"><span class='widget_title'>Bill Lookup Widget Generator</span></div>

	<div class="container">

		<div class="lookup_container">

			<div id="billLookup_container">

				<form action="" method="post">
				{% csrf_token %}

				<p>{{form.sunlightAPIs}}</p>
				<p>{{form.bill_number}}</p>
				<p>{{form.state}}</p>
				
				<input type="submit" value="Add more bills">
		
				</form>
				
				</div>

			<div id="widgetList_container">

				<h3>Widget List</h3>


				{% for bill in congress_bills %}

				<div class="single_bill_holder">
					<h3></h3><button>Remove</button>
				</div>
				

				
				<script> 
				$( document ).ready(function() {
				$.ajax({
				      url: "https://congress.api.sunlightfoundation.com/bills/search?bill_id=hr5-113&apikey=c105eafac75e4f61b208de79bec4803f",
				      dataType: 'jsonp',
				      success: function(results){
				      	var bill_id = results.results[0].bill_id;
				      	var bill_title = results.results[0].short_title;
				      	var full_text = bill_id+": "+bill_title
				          $('.single_bill_holder h3').text(full_text);
				      }
				  });

				$('button').click(function(){
				 $(this).parent().hide();
				  });

				});


				     
				</script>
				{% endfor %}			



		{% for bill in state_bills %}
				<div class="single_bill_holder">
					<h3>{{bill.bill_id}}: {{bill.title}}</h3><button>Remove</button>
				</div>

			<script>
				$( document ).ready(function() {
				$('button').click(function(){
				 $(this).parent().hide();
				  });
				});
			</script>
<!--
			<script> 
				$( document ).ready(function() {
				$.ajax({
				      url: "https://openstates.org/api/v1//bills/?state=oh&bill_id=sb%205&apikey=c105eafac75e4f61b208de79bec4803f",
				      dataType: 'jsonp',
				      success: function(state_results){
				      	var bill_id = state_results[0].bill_id;
				      	var bill_title = results[0].title;
				      	var full_text = bill_id+": "+bill_title
				          $('.single_bill_holder h3').text("Hello");
				      }
				  });
				});


				     
				</script>
-->
		{% endfor %}

			</div>

	 	</div>
		
		<!-- widgetlist container -->


		<div class="lookup_container">
			<div id="widgetPreview_container">
				<p>Paste this tag into your web page to insert the frame you see above:</p>
				<div id="iframe_container_url"> < iframe src="{{iframe_url}}" width='300px' height='600' > </div>
				<div id="widgetPreview">
				<iframe src="{{iframe_url}}" width='400px' height='500px'>
				</div>
				
	
			</div>
		
		</div>


<div id="footer"><h4> This website is open source. Visit the code: </h4></div>

</div>
</body>

<script type="text/javascript" src="{% static javascript.js %}"></script>

</html>