<!DOCTYPE html>

<head>

<title>Bill Lookup Widget Generator</title>

{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'open_states/style.css' %}" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

</head>

<body>

	<div id="header"><h1>Bill Lookup Widget Generator</h1></div>

		<div class="container">

			<div class="lookup_container">

				<div id="billLookup_container">

				<form action="" method="post">
				{% csrf_token %}

				<p>
				{{form.sunlightAPIs}}</p>

				<p>
				{{form.bill_number}}</p>

				<p>
				{{form.state}}</p>
				
			<input type="submit" value="Add more bills">
		
				</form>
				<!-- billlookup container close out -->
				</div>

			<div id="widgetList_container">

			<h3>Widget List</h3>
		

			{% for bill in congress_bills %}
				<div class="single_bill_holder">
				<h3>{{bill.short_title}} <button>Remove</button></h3>
				</div>
			{% endfor %}

			{% for bill in state_bills %}
				<div class="single_bill_holder">
				<h3>{{bill.title}} <button>Remove</button></h3>
				</div>
			{% endfor %}


			<br><br>
			<input type="button" name="btn" id="generate" value="Generate" />
		<!-- widgetlist container -->
			</div>
		</div>

		<div class="lookup_container">
			<div id="widgetPreview_container"><h2>Preview</h2>
				<div id="widgetPreview">
				{% for bill in congress_bills %}
				<div class="one_result_holder">
				<p><b>{{bill.bill_id}} ({{bill.congress}}th congress):
				</b>{{bill.short_title}}</p>
				<br><b>Sponsor</b>: {{bill.title}}{{bill.sponsor.first_name}} {{bill.sponsor.last_name}} </br>
				<br><b>Full title</b>: {{bill.official_title}}
				</div> </br>
				{% endfor %}

				{% for bill in state_bills %}
				<div class="one_result_holder">
				<p><b>{{bill.state}} {{bill.bill_id}} ({{bill.session}}th session):
				</b>{{bill.title}}</p>
				</div> </br>
				{% endfor %}

			</div>
		</div>
		<div id="iframe_container">iframe</div>
	<!-- container close out div -->

	</div>

	<div id="footer"><h4> This website is open source. Visit the code: </h4></div>

</body>

</html>